


.headline{
    text-align: right;
    font-weight: 700;
font-size: 55px;
 
padding-right: 20px;
padding-top: -500px;

color: #FFFFFF;

}
.description{
    text-align: right;
    font-weight: 400;
font-size: 16px; 
padding-top: 0px;
padding-right: 10px;

color: #FFFFFF;
line-height: 20px;
font-style: italic;
}
.container{
    position: relative;
    text-align: right;
    padding-left: 5px;
}
.text-design{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(46, 46, 172)
    padding-left: 20px;
    padding-right: 5px;
    
    
    
}
 .btn{
    color: #005FAC;
    font-weight: 600;
font-size: 20px;

padding: 20px,25px;
border-radius: 5px;
border: 0px;
height: 45px;

}
 .banner{
    text-align: center;
    font-weight: 400;
font-size: 16px;
display: flex;
margin: 0px 200px;


 }
.unordered{
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 16px;
    
}
.list{
    text-align: center;
    padding-top: 16px;
}
    
.belief{
    color: #151414;
    font-weight: 700;
font-size: 40px;
margin-bottom: 20px;
margin-top: 300px;
}
.parag{
    color:black
    
}

.section-title{
    font-weight: 700;
font-size: 40px;
text-align: center;
color: #151414;
margin-top: 200px;
margin-bottom: 30px;
}
.skills-container{
display: flex;
justify-content: space-evenly;
  

}



    
    
    


