


.headline{
    text-align: right;
    font-weight: 700;
font-size: 55px;
 
padding-right: 20px;
padding-top: -500px;

color: #FFFFFF;

}
.description{
    text-align: right;
    font-weight: 400;
font-size: 16px; 
padding-top: 0px;
padding-right: 20px;

color: #FFFFFF;
line-height: 20px;
font-style: italic;
}
.container{
    position: relative;
}
.text-design{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(46, 46, 172)
    padding-left: 20px;
    padding-right: 20px;
    
    
    
}
 .btn{
    color: #005FAC;
    font-weight: 600;
font-size: 20px;
text-align: right;
padding: 20px,25px;
border-radius: 5px;
border: 0px;
height: 45px;
}
.failure{
    font-weight: 700;
font-size: 40px;
color: #151414;
}
.para{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
padding-top: 0px;
margin-top: 0px;
}

.failure{
    text-align: right;
    font-weight: 700;
font-size: 40px;
color: #151414;
margin:  200px;
}
.para{
    text-align: right;
}
.malang{
    text-align: right;

}
.popular{
    text-align: right;
}




    
    
    


